<div class="container">
  <table class="table">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">First</th>
        <th scope="col">Last</th>
        <th scope="col">Handle</th>
      </tr>
    </thead>
    <tbody>
      @for (item of data; track item.title) {
        <tr>
          <th scope="row">{{ item._id }}</th>
          <td>{{ item.title }}</td>
          <td>{{ item.description }}</td>
          <td>
            <a [routerLink]="['/montra', item._id]">{{ item.title }}</a>
          </td>
        </tr>

      }

    </tbody>
  </table>

  <!-- <ul class="list-unstyled">
    @for (item of data; track item.title) {
      <li>
        <a [routerLink]="['/montra', item._id]">{{ item.title }}</a>
      </li>
    }
  </ul> -->
</div>
